.container{
		
}

.header{
	
}

.header .navbar{border-radius:0px;}

.footer{
	
}

.loginForm{
	max-width:400px;
	margin:auto;
}
.joinForm{
	max-width:400px;
	margin:auto;
}

.alignCenter{
	text-align: right;
/* 	width:100%; */
}

h2{
    border-bottom: 1px solid rgba(72, 59, 88, 0.6);
    padding-bottom:20px;
}


.brdTit{
	font-size:20px;
}

.brdCont{
	padding-top:20px;
}
